
/*Nút Màn chính*/
#btt_Screen_1 {
    border: none; 
    border-radius: 20px;
    background-color:#2B2E99;  
    color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 130px; height: 40px; 
    left: 10px; top: 20px;

}

#btt_Screen_1:hover,
#btt_Screen_2:hover,
#btt_Screen_3:hover {
    opacity: 0.8;
}
/*Nút Màn 1*/
#btt_Screen_2 {
    border-radius: 20px;
    border: none; 
    background-color: #2B2E99;
    border: none; color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 130px; height: 40px; 
    left: 10px; top: 70px;
}
/*Nút Màn 2*/
#btt_Screen_3 {
    border-radius: 20px;
    border: none; 
    background-color: #2B2E99; 
    border: none; color: rgb(255, 255, 255);  
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: normal;
    cursor: pointer;
    position: absolute; 
    width: 130px; height: 40px; 
    left: 10px; top: 120px;
}
/*//////////////////////////////*/
:root{
    --color1 : #000000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header input{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 12px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: fixed;
}
header input:checked ~ .menu-icon .menu-line::before {
    transform: rotate(90deg);
    top: 0;
    background: #fff ;
}
header input:checked ~ .menu-icon .menu-line::after {
    transform: rotate(90deg);
    top: 0;
    background: #fff ;
}
header input:checked ~ .menu-icon .menu-line {
    transform: rotate(135deg);
    transition: 0.3s;
    background: #fff ;
}
header input:checked ~ .menu-icon {
    width: 1500px;
    background: #2B2E99;  
    top: 0px;
}
header input:checked ~ .menu-icon h1 {
    color: rgb(255, 255, 255);
}
header input:checked ~ .menu-icon h2 {
    color: rgb(255, 255, 255);
}
header input:checked ~ .menu-item {
    left: 0;
}
.menu-icon {
    width: 1500px;
    height: 60px;
    
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgb(234, 234, 234);
    transition: 0.5s; 
}
.menu-icon h1 {

    width: 15px;
    height: 30px;
    color: rgb(0, 0, 0,0);
}
.menu-icon h2 {
    width: 500;
    color: rgb(0, 0, 0,1);
}

.menu-line{
    height: 4px;
    width: 48px;
    background: var(--color1) ;
    position: relative;
    left: 12px;
}
.menu-line::before {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: -14px
}
.menu-line::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: 14px
}
.menu-item {
    position: fixed;
    width: 150px;
    height: 100vh;
    background: rgb(234, 234, 234);
    top: 60;
    left: -100%;
    display: flex;
    /* justify-content: left; */
    text-align: left;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
}
.menu-item  li {
    line-height: 40px;
}
.menu-item  li a{
    color: var(--color1);
}